.card-container {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;

  .card-content {

    .card-content-image {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 auto;

      img {
        height: 150px;
      }
    }

    h1 {
      font-size: 1.5rem;
      margin: 1rem 0 0 0;
      text-align: center;
    }
  }
}

